<main class="main-container">
  <h1>Simple Language App!</h1>
  <h3>Use flash now in categories controller</h3>
  <%= form_with model: @category do |f| %>
    <% @category.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
  <br>
  <br>
  <%= form_with model: @question do |form|  %>
    <% @category.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
    <ul>
      <li>
        <%= form.select(:category_id, @question_options) %>
        <%#= form.label :category %>
        <%#= form.text_field :category %>
      </li>
      <li>
        <%= form.label :body %>
        <%= form.text_field :body %>
      </li>
      <li>
        <%= form.label :answer %>
        <%= form.text_field :answer %>
      </li>
      <li><%= form.submit %></li>
    </ul>
  <% end %>
</main>
