<%# This works outside of "f" scope, but how do we submit?  %>
<%#= select(:category, :id, @question_options) %>
<%# https://br.pinterest.com/pin/16747829843687008/ %>
<%# Make a window that scrolls with radio buttons %>
<%# Have a radio button at the bottom with text field for NEW category %>
<%# Later: Make categories searchable or autocompletable like in the picture %>
<%# From RG %>
<%#= form.collection_radio_buttons :city_id, City.order(:name), :id, :name %>
<%= form_with model: @category, class: "border-black border-4 p-10 shadow1 grid gap-2 bg-white mx-10" do |category_form| %>
  <h2 class="mb-8 text-3xl italic font-extrabold">Add a Question</h2>
  <%# Errors %>
  <% @category.errors.full_messages.each do |message| %>
    <div class=""><%= message %></div>
  <% end %>
  <fieldset class="mb-8">
    <!--legend>Select category</legend-->
    <legend class="mb-2 font-semibold text-gray-900 ">Select category</legend>
    <ul class="text-sm font-medium text-gray-900 bg-white border border-gray-200 w-max ">
      <%= category_form.collection_radio_buttons :name, @categories.order(:name), :name, :name do |b| %>
        <li class="w-full border-b border-gray-200 rounded-t-lg ">
          <div class="flex items-center pl-3">
            <%= b.radio_button class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 scale-125" %>
            <%= b.label class: "w-full py-3 ml-4 text-sm font-medium text-gray-900 " %>
          </div>
        </li>
      <% end %>
      <li class="w-full py-2 pr-2 border-b border-gray-200 rounded-t-lg ">
        <div class="flex items-center pl-3" 
          data-controller="focal-point"
        >
          <input type="radio" value="add_category" name="category[name]" 
            class="mr-4 scale-125"
            data-focal-point-target="radio"
          >
          <input 
            class="p-2 border-2 border-slate-300 bg-gray-50 focus:outline-cyan-600 focus:outline-offset-1" 
            name="category[new_category_name]" placeholder="Add a new category here" 
            type="text" 
            data-action="focus->focal-point#chooseRadio" 
          >
          <!--input type="radio" value="1" name="category[id]" id="category_id_1"-->
          <!--label for="category_id_1">test</label-->
        </div>
      </li>
    </ul>
  </fieldset>
  <%= category_form.fields_for :questions do |question_form| %>
    <%= question_form.label :body, "Your Question", class: "text-lg italic" %>
    <%= question_form.text_field :body, class: "bg-gray-50 p-2 border-slate-300 border-2 mb-4 focus:outline-cyan-600  focus:outline-offset-1", required: true %>
    <%= question_form.label :answer, "Your Answer", class: "text-lg italic" %>
    <%= question_form.text_field :answer, class: "bg-gray-50 p-2 border-slate-300 border-2 mb-8 w-1/2 focus:outline-cyan-600  focus:outline-offset-1", required: true %>
  <% end %>
  <% if current_user  %>
    <input type="hidden" name="category[user_id]" value="<%= current_user.id %>">
    <input type="hidden" name="category[questions_attributes][0][user_id]" value="<%= current_user.id %>">
  <% end %>
  <!--input type="submit" name="commit" value="Add question" class="" data-disable-with="Add question"-->
  <div class="grid grid-flow-col justify-self-end"
    data-controller="toggle"
    data-toggle-toggleable-class="invisible"
  >
    <button type="submit" name="commit" 
      class="relative px-6 py-3 mr-2 font-bold text-black w-max group"
      data-action="toggle#toggle"
    >
      <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-lime-300 group-hover:translate-x-0 group-hover:translate-y-0"></span>
      <span class="absolute inset-0 w-full h-full border-4 border-black"></span>
      <span class="relative">Add Your Question</span>
    </button>
    <span 
      data-toggle-target="checkmark"
      class="invisible -mr-8 text-5xl text-green-500"
    >
      ✔
    </span>
  </div>
<% end %>
