<%= form_with model: @category do |category_form| %>
  <ul>
    <% @category.errors.full_messages.each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
    <li>
      <%= category_form.select(:foo, @question_options) %>
    </li>
    <li>
      <%= category_form.label :name %>
      <%= category_form.text_field :name %>
    </li>
  </ul>
  <h4>Question:</h4>
  <%= category_form.fields_for :questions do |question_form| %>
    <ul>
      <li>
        <%= question_form.label :body %>
        <%= question_form.text_field :body %>
      </li>
      <li>
        <%= question_form.label :answer %>
        <%= question_form.text_field :answer %>
      </li>
    </ul>
  <% end %>
  <%= category_form.submit class: 'btn' %>
<% end %>
