<!DOCTYPE html>
<html>
  <head>
    <title>LangApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag image_path('favicon.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  
    <header class="header">
      <%= render "header" %>
    </header>

    <main class="main">
      <%= yield %>
    </main>

    <footer class="footer">
      <%= render "footer" %>
    </footer>

  </body>
</html>
